.flip-container {
    display: inline-block;
    width: 300px;
    height: 230px;
    perspective: 1000px; 
  }
  
  .flipper {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  #switch{
    display: none;
  }

  #switch:checked ~ .flip-container .flipper {
    transform: rotateY(180deg) rotateZ(180deg);
  }

  .flip-container:nth-child(2) .back, .flip-container:nth-child(3) .back{
    transform: rotateX(180deg);
  }
  
  .front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    filter: brightness(.9) contrast(1);
  }

  .round-image {
    width: 100px;
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 100px;
  }

  .back {
    transform: rotateY(180deg);
  }

  .progress {
      color: white;
  }

  .kilo-data {
    margin-top: 15px;
    margin-right: 150px;
  }
  
  .tamanho-data {
      margin-top: -89px;
      margin-left: 150px;
      margin-bottom: 5px;
  }

  @media(max-width: 325px){
    .flip-container {
        display: inline-block;
        width: 200px;
        height: 200px;
        perspective: 1000px; 
      }
    .round-image {
        width: 100px;
        margin-left: 50px;
        margin-top: 10px;
        margin-bottom: 5px;
        border-radius: 100px;
    }
    .progress {
        color: white;
    }
  
    .kilo-data {
      margin-top: 15px;
      margin-right: 100px;
    }
    
    .tamanho-data {
        margin-top: -89px;
        margin-left: 100px;
        margin-bottom: 5px;
    }
  }
  @media(max-width: 430px){
    .flip-container {
        display: inline-block;
        width: 250px;
        height: 200px;
        perspective: 1000px; 
      }
    
    .round-image {
        width: 100px;
        margin-left: 75px;
        margin-top: 10px;
        margin-bottom: 5px;
        border-radius: 100px;
    }
    .progress {
        color: white;
    }
  
    .kilo-data {
      margin-top: 15px;
      margin-right: 100px;
    }
    
    .tamanho-data {
        margin-top: -89px;
        margin-left: 100px;
        margin-bottom: 5px;
    }
  }